/**
 * Footer layout part
 */
:root {
  --footer-background-color: var(--color-accent);
  --footer-text-color: var(--color-accent-contrast);
  --footer-button-background-color: var();
  --footer-button-background-highlight-color: var();
  --footer-button-text-color: var();
}

#footer {
  padding: var(--gap-demi);
  font-size: var(--font-size-small);
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
}

#footer h1 {
  font-size: var(--font-size-large);
}
